body {
    background-image: url('https://images.pexels.com/photos/1576667/pexels-photo-1576667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); /* The image used */
    background-color: #cccccc; 
    height: 200px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
  }
#container{
    width: 40vw;
    transition: 500ms;
    margin: 10rem auto;
    border-radius: 10px;
    background-image: url('https://images.pexels.com/photos/2848289/pexels-photo-2848289.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
} 

#inp{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

#input{
    padding: 0.4rem;
    border-radius: 6px;
    font-size: 1.4em ;
    margin-bottom: 2px;
    margin-top: 10px;
    background-color:#e9ecef;
    color: navy;
    font-family: 'Acme', sans-serif;
    text-align: center;
}

button{
    padding: 0.6rem;
    border-radius: 6px;
    font-size: 1.4em ;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: navy;
     color: white;
    font-family: 'Acme', sans-serif;
    text-align: center;
}

button:hover{
background-color: white;
color: navy;

}

#output{
    width: 60%;
    margin: 20px auto;
}

.info{
    text-align: center;
    font-size: 1.1em;
    font-family: 'Balsamiq Sans', cursive;
    color: navy;
}

#temp{
    font-size: 1.8em;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
      
}

#weather{
    margin-bottom: 20px;
}

